*{
    font-family :
"SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



#nav{
    background-color: #323232;
    width: 101%;
    height: 45px;
    margin-left: -8px;
    margin-top: -8px;
   

}
#appleimage{
margin-left: 90px;
margin-top: 14px;
}


.navitems{
    margin: 10px;
    font-size: 13px;
    color: rgb(195, 200, 203);
    margin-left: 27px; 
    padding-bottom: 5px;
}

.navfirstitem{


    margin-left: 39px;
} 
#block{
    background-color: #f5f5f7;
    width: 101%;
    height: 80px;
    margin-left: -8px;
}


#unicef{

    width: 100px;
    margin-top: 22px;
    margin-left: 27%;

}

.fonting{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #3D89D7;
font-size: 13px;
position: relative;
bottom: 13px;
}



a{
text-decoration: none;

}
 

a:hover{
 color: #3D89D7;
 text-decoration: underline;
}




.macbook-air-m2{
    width: 400px !important;
    height: 400px !important;
    transform: rotate(-40deg); 
}

#middle{

margin-left: 25%;
margin-top: 125px;
}

#first{

position: relative;
z-index: 4;

}
#second{
position: relative;
left: 86px;
bottom: 399px;
z-index: 3;

}

#third{
    position: relative;
    left: 167px;
    bottom: 794px;
    z-index: 2;
    
    }
    
#fourth{

    position: relative;
    left: 246px;
    bottom: 1189px;
    z-index: 1;

}







p.bold{

    
    
        font-size: 55px;
        font-family: "SF Pro Text" , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-weight: 400;
    margin-left: -200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 900;
}
.light{

    font-weight: 300 !important;
    font-size:30px !important;
    margin-left: 13px;
}


.m2{

margin-top:20px;

}


body{
    overflow-x: hidden;
}

#thrdbox{
 width: 1000px;
 height: 550px;
 background-color: rgb(255, 255, 255);

}

.light{

    font-weight: 300 !important;
    font-size:30px !important;
    margin-left: 13px;
}



.frth_center{
    font-size: 55px;
    font-family: "SF Pro Text" , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 400;
}

.positioning_m2pic{
width: 40px;
height: 40px;
position: relative;
top: 10px;

}
 
.blue_underline:hover{
    text-decoration: underline;
    
}



.blue_underline{
font-size: 20px;
font-family:
"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
color:RGB(0, 102, 204);
padding-left: 30px;
font-weight: 400 !important;

}

.angle-bracket{
    font-size: 13px;
}


.macbook-air-m2{
    width: 400px !important;
    height: 400px !important;
    transform: rotate(-40deg); 
}


#first{

    position: relative;
    z-index: 4;
    
    }
    #second{
    position: relative;
    left: 86px;
    bottom: 399px;
    z-index: 3;
    
    }
    
    #third{
        position: relative;
        left: 167px;
        bottom: 794px;
        z-index: 2;
        
        }
        
    #fourth{
    
        position: relative;
        left: 246px;
        bottom: 1189px;
        z-index: 1;
    
    }
    

    #thrdbox_right{
position: relative;
padding-left: 290px;
bottom: 30%;  

    }

    #thrdbox_lft{

    position: relative;
    z-index: 9;
    top: 41%;
    padding-left: 424px;
    
}


#fourthbox{width: 100%; height: 200px; background-color: rgb(255, 250, 250);}
.frthbox-center{

font-family: "SF Pro Text", sans-serif;
font-size: 59px;
line-height: 45px;
font-weight: bolder;
padding-left: 40%;
padding-top: 25px;
}


.frthbox-light{

margin-top: 10px;
font-size: 27px;
font-weight: 400;
color: rgba(0, 0, 0, 0.816);
}




#fifththbox{
width: 100%;
height: 380px;
background-color: rgb(255, 255, 255);
}
.iphone_green{
    margin-left: 20%;
}


                   #sixthbox{
          width: 100%;
            height: 585px;
            background-color: rgba(221, 219, 219, 0.291);

                        position: relative; 
                                bottom: 51px;

                                            }


.sixthbox-center{
 font-size: 50px;
 font-family: 'SF Pro Display', sans-serif;
    line-height: 44px;                                    
 font-weight: 700;
text-align: left;
margin-left: 18%;
font-style: italic;
padding-top: 40px;
}


.sixthbox-second{

font-style:normal;
padding-left: 100px !important;
font-size: 26px;
line-height: 10px;

}

#shopnow{

    font-size: 20px;
font-family:
"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
color:RGB(0, 102, 204);
padding-left: 30px;
font-weight: 400 !important;
    padding-left: 335px;
}



#three-pictures{ width: 100%; height: 400px ; background-color :rgba(236, 235, 235, 0.063); position: relative; top: -51px;}
#img-098{

    width: 355px;
    height: 366px;
    padding-left: 36%;

}



/*---------------------------------------two pictures----------------------------------------------*/
#seventhbox{

width: 100%;
height: 585px;
background-color: rgb(0, 0, 0);
margin-top: -81px;

}

#seventhbox-left{

width: 50%;
height: 585px;
background-color: rgb(255, 255, 255);

}


.seventhbox-left1{

font-size: 35px;
text-align: left;
padding-left: 143px;

}

.frthbox-light2{
    
    text-align: left;
    padding-left: 42px;
    line-height: 10px;
}





#grn-iphone{
width: 200px;
height: 400px;
padding-left: 29%;
padding-bottom: 10%;
position: relative;
top:-3%;


}



#seventhbox-right{

width: 50%;
height: 585px;

position: relative;
left: 50%;
bottom:106%;

}
.nbold{
font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 36px;
font-weight: 600;
color: white;
padding-left: 20%;
padding-top: 5%;
word-spacing: 3px;
letter-spacing: 2px;

}

#nlight{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 21px;
font-weight: 400;
color: rgba(255, 251, 251, 0.931);
padding-left: 15%;

}
 .size-chip{
width: 36px;
height: 35px;
position: relative;
top: 10px;
left: -6px;

 }

#psn{
    position: relative;
    left: 33%;
    top: -4%;
}

.lighting-laptop{

    width: 476px;
    height: 248px;
    position: relative;
    top: 22%;
    left: 11%;
}


/* Eights div---------------------------------------------------------------*/
#eightthbox{
    width: 100%;
    height: 585px;
    position: relative;
    top: -21px;
    background-color: rgb(0, 0, 0);
}

#eightthboc-left{

width: 50%;
height: 585px;
background-color: rgb(255, 253, 253);

}

#apple-icon{
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: 700;
    line-height: 18px;
text-align: center;
padding-top: 13%;

}

#psn2{
    position: relative;
    right: -32%;
    top: -2%;
}
#iwatch{

    width: 517px;
    height: 410px;
padding-left: 10%;
padding-top: 10px;
position: relative;
top:-7%


}
#eightthbox-right{

width: 50%;
height: 585px;
background-color: rgb(0, 0, 0);
position: relative;
left: 50%;
bottom: 105%;
}

#ipad-air{

    font-size: 40px;
    font-weight: 700;
    line-height:28px;
color: white;
    text-align: center;
   padding-top:10% ;
   
    

}


#psn3{
position: relative;
left: 31%;
top: -5%;
}

.circle-of-ipads{

    width: 356px;
    height: 350px;
    padding-left: 18%;

}


/*--------------ninebox-------------------------------------------------------------------------------*/

#ninebox{
    width: 100%;
    height: 585px;
    background-color: rgb(0, 0, 0);
}
#ninebox-left{

    width: 50%;
    height: 551px;
    background-color: rgb(255 253 253 / 96%);
    padding-top: 3%;
    }

#apple-card{
    font-size: 35px;
    font-weight: 700;
    line-height: 18px;
text-align: center;

}

#psn4{
padding-left: 25%;
position: relative;
top:-5%
}
#app-card{
    width: 446px;
    height: 323px;
    padding-left: 10%;
}

#ninebox-right{

    width: 50%;
height: 585px;

position: relative;
left: 50%;
bottom: 100%;

}
#musi-live-image{
    width:575px;
    height: 585px;
}


#tenbox{
    width: 100%;
    height: 1081px;
    background-color: rgb(242 242 245 / 77%);
    margin-top: 3%;
}

#lastpara{
color: grey;
font-size: 15px;
margin-top: 20px;
}

#para-content{
    width: 966px;
    height: 600px;
   
    position: relative;
    left: 8%;
    padding-top: 10px;
} 

/* foooter-------------------------------------------------*/
.coloumn{

    width: 83%;
    height: 490px;
  
    margin-left: 8%;
    margin-top: 10px;

}



.frstcolumn{
width: 16%;
height: 450px;



}

.heading{

    font-size: 16px
}
 
.for-all{

    line-height: 25px;
    font-size: 13px;

}

.secondcolumn{
position: relative;
left: 16%; 
top: -92%;

}
.thirdcoloumn{
    position: relative;
    left: 34%; 
    top: -184%;

}

.fourthcoloumn{

    position: relative;
    left: 50%;
    top: -276%;
}
.fifthcoloumn{

    position: relative;
    left: 70%;
    top: -368%;
}